@font-face {
    font-family: "Intel One Mono";
    src: url("../fonts/IntelOneMono-Regular.woff2") format("woff2"),
        url("../fonts/IntelOneMono-Regular.otf") format("otf");
}

/* light theme */
:root,
:root.light {
    --highlight-color: #4f930b;
    --text-color-dark: #000000;
    --text-color: #181010;
    --text-color-lighter: #1D1D1D;
    --highlight-text: #ffffff;
    --fronter-background: #ffffee;
    --background: #fdfdf5;
    --border-background: #fdfde8;
    --banner-color: #000000;
    --banner-shadow-color: #101010;
}

:root.light.reader {
    --highlight-color: #000000;
    --text-color-dark: #000000;
    --text-color: #000000;
    --text-color-lighter: #000000;
    --highlight-text: #ffffff;
    --fronter-background: #f8f8d7;
    --background: #ffffff;
    --border-background: #ffffff;
    --banner-shadow-color: #101010;
}

:root.serif {
    --font: sans-serif;
}

.light.reader .attachment {
    filter: contrast(110%);
}

/* dark theme */
:root.dark {
    color-scheme: dark;
    --highlight-color: #6f631f;
    --text-color-dark: #e3e3e3;
    --text-color: #dfe0d8;
    --text-color-lighter: #ffffff;
    --highlight-text: #ffffff;
    --fronter-background: #111009;
    --background: #0a0906;
    --border-background: #1c1a0d;
    --banner-shadow-color: #7a7206;
}

:root.dark.reader {
    --highlight-color: #fff5e7;
    --text-color-dark: #eeeeee;
    --text-color: #ffffff;
    --text-color-lighter: #eeeeee;
    --highlight-text: #ffffff;
    --fronter-background: #000000;
    --background: #000000;
    --border-background: #000000;
    --banner-shadow-color: #9c9c9c;
}

.dark .fronter img,
.dark .f-v2 .bird {
    filter: drop-shadow(0 0 2em var(--highlight-color));
}

.dark .attachment {
    filter: brightness(60%);
    background-color: var(--highlight-color);
    box-shadow: 0 0 20px 20px var(--highlight-color);
}

.dark.reader .attachment {
    filter: brightness(100%) contrast(110%);
}

/* this loads if user browser is set to dark theme and 
    does not have .light (this implies javascript is disabled)
    it should not affect browsers that will load the .js
  */
@media (prefers-color-scheme: dark) and (not all and (.dark)) {
    :root {
        color-scheme: dark;
        --highlight-color: #80732a;
        --text-color-dark: #e3e3e3;
        --text-color: #dfe0d8;
        --text-color-lighter: #ffffff;
        --highlight-text: #ffffff;
        --fronter-background: #111009;
        --background: #0a0906;
        --border-background: #111009;
        --banner-shadow-color: #7a7206;
    }

    :root.reader {
        --highlight-color: #fff5e7;
        --text-color-dark: #eeeeee;
        --text-color: #ffffff;
        --text-color-lighter: #eeeeee;
        --highlight-text: #ffffff;
        --fronter-background: #000000;
        --background: #000000;
        --border-background: #000000;
        --banner-shadow-color: #9c9c9c;
    }

    .fronter img,
    .f-v2 .bird {
        filter: drop-shadow(0 0 2em var(--highlight-color));
    }

    .attachment {
        filter: brightness(60%);
        background-color: var(--highlight-color);
        box-shadow: 0 0 20px 20px var(--highlight-color);
    }

    .reader .attachment {
        filter: brightness(100%) contrast(110%);
    }
}

:root {
    background: var(--border-background);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;

    --banner-height: 60px;
    --font: "Intel One Mono", monospace;

    font-size: 19px;
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body {
    width: auto;
    color: var(--text-color);
    background-color: var(--background);
    border: 6px dotted var(--highlight-color);
    padding: 2rem;
    margin: 1rem;
    margin-top: calc(1rem + var(--banner-height));
}

main {
    margin: auto;
    max-width: 800px;
}

h1,
h2,
h3,
ul,
li,
p,
blockquote,
pre {
    margin: 0;
}

h2,
h3 {
    margin-left: 4px;
    font-weight: bolder;
    color: var(--text-color-lighter);
}

h1:before,
h2:before,
h3:before {
    color: var(--highlight-color);
    display: inline-block;
    margin-right: 1ch;
}

h2:before {
    content: '%';
}

h3:before {
    content: 'ooo';
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
    border-bottom: 2px solid var(--highlight-red);
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.25rem;
}

ul {
    list-style: none;
}

ul {
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    padding-left: 0;
}

ol {
    padding-left: 4rem;
}

ul li {
    position: relative;
    padding: 4px;
    padding-left: 3ch;
}

ul li:before {
    content: 'x';
    font-weight: bold;
    color: var(--highlight-color);
    left: 1ch;
    position: absolute;
}

a {
    text-decoration: underline;
    color: inherit;
}

.katex-display {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

main a.arrow {
    margin-left: 2ch;
}

main a.arrow:before {
    content: "~>";
    left: -1ch;
    position: relative;
    display: inline-block;
}

main a.arrow:hover {
    background-color: var(--highlight-color);
    color: var(--highlight-text);
    padding: 2px;
    padding-left: 2ch;
    padding-right: 1ch;
    text-decoration: none;
}

a.link:hover code {
    color: var(--text-color);
}

.reader main a:hover {
    background-color: var(--background);
    border: 2px dashed var(--text-color);
    padding: 0px 4px 0px 4px;
    border-radius: 8px;
    color: var(--text-color-dark);
    text-decoration: none;
}

.reader main a.arrow:hover {
    padding: 0px 4px 0px 1.5ch;
}

pre {
    margin: 0px 30px 0px 30px;
    padding: 1ch;
    background-color: var(--fronter-background);
    color: var(--text-color-lighter);
    line-height: 1.1;
    font-family: monospace;
    overflow-x: auto;
}

.serif pre {
    font-size: smaller;
}

.reader pre {
    border: 2px dashed var(--text-color);
}

code {
    font-family: monospace;
    background-color: var(--fronter-background);
}

div.highlight>pre {
    margin: 0;
    font-size: smaller;
    color: #ffffff;
    background-color: #222222;
}

.dark div.highlight>pre {
    background-color: #111111;
    filter: brightness(0.9);
}

blockquote {
    padding: 0.25rem;
    background-color: var(--fronter-background);
    position: relative;
    border-left: 4px solid var(--highlight-color);
    margin: 0.25rem 0;
}

blockquote p {
    margin: 0.5rem;
    margin-left: 0.75rem;
}

hr,
footer {
    border: 0;
    border-top: 1px dotted var(--text-color-lighter);
}

footer {
    padding-top: 3ch;
    color: var(--text-color);
    font-size: 0.9rem;
    text-align: center;
}

footer * {
    margin: auto;
}

summary {
    filter: drop-shadow(0 0.1em 1em var(--highlight-color));
}

details>summary {
    padding: 4px;
    margin: 8px;
    border: 1px dashed var(--highlight-color);
    padding-left: 6px;
    background-color: var(--fronter-background);
}

details[open]>div {
    padding: 8px;
}

@keyframes rotate-bird {
    0% {
        transform: scale(1.05) rotate(-2deg);
    }

    50% {
        transform: scale(1.05) rotate(+2deg);
    }

    100% {
        transform: scale(1.05) rotate(-2deg);
    }
}

/*
      FRONTER V2
  */

.f-v2 {
    padding: 8px;
    border-radius: 24px;
    border: 6px dotted var(--highlight-color);
    min-height: 100px;
    background: var(--fronter-background);
}

.f-v2 p {
    text-align: justify;
    padding: inherit;
}

.bird {
    padding: 6px;
    max-width: 110px;
    max-height: 90px;
    width: 20%;
    min-height: 50px;
    height: auto;
    float: left;
}

.bird:hover {
    filter: drop-shadow(0 0 1em var(--highlight-color));
    animation: 0.8s ease-in-out infinite rotate-bird;
}

.bird.neutral {
    width: 18%;
    padding: 10px;
    content: url(../bird_neutral.svg);
}

.bird.ascended {
    content: url(../bird_ASCENDED.svg);
}

.bird.oops {
    content: url(../bird_embarrassed.svg);
}

.bird.happy {
    padding: 10px;
    content: url(../bird_happyig.svg);
}

.bird.talking {
    content: url(../bird_open_mouth.svg);
}

.bird.pissed {
    content: url(../bird_pissed_off.svg);
}

.bird.questioning {
    margin-top: -10px;
    padding-bottom: 10px;
    content: url(../bird_questioning.svg);
}

.bird.wait {
    padding-top: 10px;
    content: url(../bird_wait_a_minute.svg);
}

/*
      / END FRONTER V2
  */

.banner {
    box-shadow: 0 0 2em var(--banner-shadow-color);
    position: absolute;
    height: var(--banner-height);
    width: 100%;
    min-width: 48px;
    z-index: 2;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--banner-color);
    background: var(--background);
    color: var(--background);
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px 10px;
}

.talker {
    position: fixed;
    z-index: 3;
    color: var(--text-color);
    background-color: var(--fronter-background);
    border: 3px solid var(--highlight-color);
    padding: 4px 18px 9px 18px;
    text-indent: 0px;
    border-radius: 24px;
    border-top-left-radius: 0px;
    top: calc(5vw + 10px);
    left: calc(5vw + 50px);
    max-width: 15vw;
    width: 100%;
}

.talker:hover {
    box-shadow: 2px 2px 0.5em var(--background);
    animation: 0.5s ease infinite rotate-bird;
}

.talker.hidden {
    display: none;
}

.banner-button {
    border: 0;
    background-color: var(--background);
    color: var(--highlight-color);
    font-weight: 900;
    border-radius: 12px;
    min-width: 40px;
    min-height: 40px;
    width: calc(5vw - 20px);
    height: calc(5vw - 20px);
    font-size: 24px;
    justify-content: center;
    content: '';
}

.dark .dark-button:before {
    content: "◯";
}

.dark-button:before {
    content: "☀";
}

.reader .reader-button:before {
    content: "◔";
}

.reader-button:before {
    content: "◕";
}

.serif {
    letter-spacing: 0px;
}

.serif .serif-button:before {
    font-family: serif;
}

.serif-button:before {
    content: "T";
}

.banner-button:hover {
    padding: 2px;
    filter: drop-shadow(0 0 0.3em var(--highlight-color));
}

.attachment-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    max-height: 500px;
    gap: 4px;
}

.attachment-div i {
    z-index: 1;
    text-align: center;
    background-color: var(--fronter-background);
}

.attachment {
    max-width: 70%;
    max-height: inherit;
    height: auto;
    object-fit: contain;
    transition: filter 0.15s ease-out, max-width 0.2s ease-out;
}

.attachment:hover {
    max-width: 90%;
    filter: brightness(100%) contrast(105%);
}

picture img {
    max-width: 100%;
    max-height: inherit;
}

div.attachment {
    display: flex;
    max-width: inherit;
    justify-content: space-evenly;
    margin: 4px;
}

div.attachment img {
    min-width: 0;
    max-width: inherit;
    max-height: inherit;
    object-fit: contain;
}

@keyframes blinking-bird {
    68% {
        filter: brightness(100%);
    }

    69% {
        filter: brightness(0%);
    }

    70% {
        filter: brightness(100%);
    }

    98% {
        filter: brightness(100%);
    }

    99% {
        filter: brightness(0%);
    }

    100% {
        filter: brightness(100%);
    }
}

@keyframes disturbed-bird {
    0% {
        filter: brightness(100%);
    }

    10% {
        filter: brightness(0%);
        transform: rotate(+3deg);
    }

    20% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(100%);
    }

    60% {
        filter: brightness(0%);
        transform: rotate(+3deg);
    }

    70% {
        filter: brightness(100%);
    }

    75% {
        transform: rotate(-1deg);
    }
}

.banner-logo {
    flex-grow: 2;
    margin-left: 6vw;
    transition: margin-left 0.4s;
    max-width: 9vw;
    z-index: 3;
    animation: 12s ease-in 3s infinite alternate-reverse blinking-bird;

    transform: rotate(50deg);
    margin-top: 55px;
    max-width: 100px;
    height: 80px;
}

.banner > b {
    color: var(--text-color);
}

/* desktop only css */
/* this hover animation is disabled in the mobile layout */
@media screen and (min-width: 701px) {
    .banner:hover {
        border-right: 1px dashed var(--highlight-color);
        transition: padding 0.5s;
        padding: 4px;
    }

    .banner:hover .banner-logo {
        transition: margin-left 0.25s;
        margin-left: calc(6vw + 22px);
        animation-iteration-count: 2;
        animation: 0.5s linear disturbed-bird;
    }

    .banner-logo:hover {
        filter: drop-shadow(0 0 0.5em var(--highlight-color));
        animation: 1.1s ease-in-out 0.1s infinite rotate-bird;
    }
}

/* mobile friendly interface */
@media screen and (max-width: 700px) {
    :root {
        margin: 0vw;
        background: none;
    }

    body {
        border: 0;
        padding: 0;
    }

    .fronter {
        display: block;
        min-height: 70px;
    }

    .fronter p {
        float: none;
        text-align: justify;
        padding: 8px;
    }

    .fronter img {
        max-width: 70px;
        max-height: 70px;
        margin: 10px;
        padding: 4px;
        float: left;
    }

    .banner {
        position: absolute;
        height: 50px;
        width: 100%;
        flex-direction: row;
    }
    
    .banner > b {
        display: none;
    }

    .banner-logo {
        height: 50px;
    }

    .banner-button {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .attachment {
        max-width: 90%;
    }

    .talker {
        position: absolute;
        top: 80px;
        left: 100px;
        max-width: 50vw;
    }
}