:root,
:root.light {
    --highlight-color: #bbbb8e;
    --text-color-dark: #000000;
    --text-color: #000000;
    --text-color-lighter: #1D1D1D;
    --fronter-background: #fffeb7;
    --background: #ffffff;
    --font: 'Courier New', monospace;
    --banner-color: #000000;
    --banner-shadow-color: #101010;
}

:root.reader {
    --highlight-color: #000000;
    --text-color-dark: #000000;
    --text-color: #000000;
    --text-color-lighter: #000000;
    --fronter-background: #fffff0;
    --background: #ffffff;
    --font: 'Courier New', monospace;
    --banner-color: #000000;
    --banner-shadow-color: #101010;
}

/* a whole 20 extra lines just for that one toggle button , yup */
:root.dark {
    --highlight-color: rgb(118, 120, 88);
    --text-color-dark: #e3e3e3;
    --text-color: rgb(220, 220, 220);
    --text-color-lighter: #ffffff;
    --fronter-background: #1c1c00;
    --background: rgb(14, 14, 14);
    --font: 'Courier New', monospace;
    --banner-color: #000000;
    --banner-shadow-color: #494900;
}

:root.reader.dark {
    --highlight-color: rgb(251, 252, 239);
    --text-color-dark: #ffffff;
    --text-color: rgb(255, 255, 255);
    --text-color-lighter: #ffffff;
    --fronter-background: #000000;
    --background: rgb(0, 0, 0);
    --font: 'Courier New', monospace;
    --banner-color: #000000;
    --banner-shadow-color: #2c2c00;
}

.dark .fronter img {
    filter: drop-shadow(0 0 2em var(--highlight-color));
}

.dark .attachment {
    filter: brightness(60%);
    background-color: var(--text-color);
    box-shadow: 0 0 20px 20px var(--text-color);
}

.reader .attachment {
    filter: contrast(110%);
}

.reader.dark .attachment {
    filter: brightness(100%) contrast(110%);
}

@media (prefers-color-scheme: dark) {
    :root,
    :root.dark {
        --highlight-color: rgb(231, 232, 200);
        --text-color-dark: #e3e3e3;
        --text-color: rgb(220, 220, 220);
        --text-color-lighter: #ffffff;
        --fronter-background: #1c1c00;
        --background: rgb(14, 14, 14);
        --font: 'Courier New', monospace;
        --banner-color: #000000;
        --banner-shadow-color: #494900;
    }

    .fronter img {
        filter: drop-shadow(0 0 2em var(--highlight-color));
    }

    .dark .attachment {
        filter: brightness(0.6);
        background-color: var(--text-color);
        box-shadow: 0 0 20px 20px var(--text-color);
    }

    .reader .attachment {
        filter: contrast(110%);
    }

    .reader.dark .attachment {
        filter: brightness(100%) contrast(110%);
    }
}

:root {
    border: 5vw solid var(--fronter-background);
    border-left: 10vw solid var(--fronter-background);

    border-radius: 5 5 5 5;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

body {
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.6;
    max-width: 85vw;
    color: var(--text-color);
    background-color: var(--background);

    margin: 1rem auto;
    padding: 1rem;
}

@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
        padding: 2rem;
    }
}

h1,
h2,
h3,
ul,
ol,
li,
p,
blockquote,
pre,
a {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1:before,
h2:before,
h3:before {
    color: var(--highlight-color);
    display: inline-block;
    margin-right: 1ch;
}

h1:before {
    content: '';
}

h2:before {
    content: '❊';
}

h3:before {
    content: '❊❊';
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
    color: var(--text-color-lighter);
}

h3 {
    font-size: 1.2rem;
    color: var(--text-color-lighter);
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 3ch;
}

ul li:before {
    content: '＊';
    font-weight: bold;
    color: var(--highlight-color);
    position: absolute;
    left: 0;
    font-family: inherit;
    font-size: inherit;
}

main a:hover {
    background-color: var(--highlight-color);
    color: var(--text-color-dark);
    text-decoration: none;
}

main a:before {
    content: "~>";
    display: inline-block;
    position: absolute;
    left: 0.5ch;
}

a {
    text-decoration: underline;
    color: inherit;
    display: inline-block;
    line-break: anywhere;
    -x-webkit-line-break: anywhere;
}

main img {
    display: block;
    max-width: 400px;
    width: 80%;
    margin: 1rem auto;
}

pre {
    padding: 1ch;
    background-color: var(--fronter-background);
    color: var(--text-color-dark);
    line-height: 1.1;
    font-family: monospace;
    overflow-x: auto;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--fronter-background);
}

blockquote {
    padding: 0.25rem;
    background-color: var(--fronter-background);
    position: relative;
    border-left: 4px solid var(--highlight-color);
    margin: 0.25rem 0;
}

blockquote p {
    margin: 0.5rem;
    margin-left: 0.75rem;
}

footer {
    padding-top: 3ch;
    border-top: 1px dotted var(--text-color-lighter);
    color: var(--text-color);
    font-size: 0.9rem;
    text-align: center;
}

footer * {
    margin: auto;
}

h1:after {
    text-shadow:
        -2px -2px 0 var(--highlight-color),
        0 -1px 0 var(--highlight-color),
        1px -1px 0 var(--highlight-color),
        1px 0 0 var(--highlight-color),
        1px 1px 0 var(--fronter-background),
        0 1px 0 var(--fronter-background),
        -1px 1px 0 var(--fronter-background),
        -1px 0 0 var(--fronter-background);
}

.fronter {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    border: 4px dotted var(--highlight-color);
    padding: 10px;
    margin: 4px;
}

.fronter img {
    width: 120px;
    padding: 15px;
}

.fronter p {
    flex-grow: 1;
}

@keyframes rotate-bird {
    0% {
        transform: scale(1.05) rotate(-2deg)
    }

    50% {
        transform: scale(1.05) rotate(+2deg);
    }

    100% {
        transform: scale(1.05) rotate(-2deg);
    }
}

.fronter img:hover {
    animation-name: rotate-bird;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.banner {
    box-shadow: 0 0 4em var(--banner-shadow-color);
    height: 100%;
    backdrop-filter: invert(100%);
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--banner-color);
    color: var(--background);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px 10px;
}

.banner-button {
    background-color: var(--fronter-background);
    border: 3px solid var(--banner-shadow-color);
    border-radius: 6px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
    text-decoration: none;
}


.dark .theme-button:after {
    content: "◯"
}

.theme-button:after {
    content: "☉︎"
}

.reader .reader-button:after {
    content: "A"
}

.reader-button:after {
    content: "a"
}

.banner-button:hover {
    padding: 2px;
    filter: drop-shadow(0 0 1em var(--highlight-color));
}

.attachment-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.attachment-div img {
    flex-grow: 1;
}

/* a hacky animation for the blink; since the bird is
   all black, we can mess with the brightness to turn
   the white eye dark */
@keyframes blinking-bird {
    0% {
        filter: brightness(100%);
    }

    68% {
        filter: brightness(100%);
    }

    69% {
        filter: brightness(0%);
    }

    70% {
        filter: brightness(100%);
    }

    98% {
        filter: brightness(100%);
    }

    99% {
        filter: brightness(0%);
    }

    100% {
        filter: brightness(100%);
    }
}

.banner-logo {
    flex-grow: 2;
    margin-top: 2vh;
    margin-left: 6vw;
    max-width: 9vw;
    z-index: 2;
    animation: 12s ease-in 3s infinite alternate-reverse blinking-bird;
}

/* this hover animation is disabled in the mobile layout */
@media screen and (min-width: 601px) {
    .banner-logo:hover {
        filter: drop-shadow(0 0 0.5em var(--highlight-color));
        animation: 1s ease-in 0s infinite alternate-reverse rotate-bird;
    }
}

/* mobile friendly interface */
@media screen and (max-width: 600px) {
    :root {
        border-left: 5vw solid var(--fronter-background);
        border: 0vw;
        margin-top: 30px;
    }

    .fronter {
        padding: 0;
    }

    .fronter p {
        padding: 8px;
    }

    .fronter img {
        width: 0;
        height: 0;
        padding: 0;
    }

    .banner {
        height: 50px;
        width: 100%;
        flex-direction: row;
    }

    .banner-logo {
        transform: rotate(50deg);
        margin-top: 55px;
        max-width: 100px;
        height: 50px;
    }
}
